.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

@media screen and (max-width: 450px) { 
    .btn-group {
        flex-direction: column;
    }
}

@media (min-width: 451px) and (max-width: 640px) { 
    .btn {
        width:50%;
    }
}